{{ define "main" }}

<div class="ph3 bg-off-white">
    <div class="center mw6 pv3">
        <h1 class="f3 b lh-title mb2 mt3 primary">{{ .Params.title }}</h1>
        <div class="flex-ns flex-column mb3">
            {{ range .Params.sections }}
            <div>
                <h4 class="f5 b lh-title mb2 primary">{{ .title }}</h4>
                <p class="f5">{{ .text | markdownify }}</p>
                {{ if .items }}
                <ol class="ml3">
                    {{ range $index, $item := .items }}
                    <li class="flex mb3">
                        <span class="mr2">{{ add $index 1 }}. </span>
                        <div>
                            <span class="f5 b lh-title mb2 primary">{{ $item.title }}</span>
                            <span class="f5">{{ $item.text | markdownify }}</span>
                        </div>

                    </li>
                    {{ end }}
                </ol>

                {{ end }}
            </div>
            {{ end }}
        </div>
        <p class="f5">{{ .Params.bottom_text | markdownify }}</p>
    </div>
</div>

{{ end }}
